@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('../assets/font/Poppins-Black.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E7F1F1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-family: 'Poppins-Black';
    padding: 4rem 0;
}

/* COLOR PALETTE */

.color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.color-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.color-item__square {
    width: 80px;
    height: 80px;
    border: 3px solid;
}

.first-color {
    background-color: #EA9999;
}

.second-color {
    background-color: #FACB9C;
}

.third-color {
    background-color: #FFE59A;
}

.fourth-color {
    background-color: #B6D7A8;
}

.fifth-color {
    background-color: #A4C4CA;
}

/* BUTTONS */

.buttons {
    margin-top: 4rem;
}

.new-palette {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 0 3rem 0 3rem;
    cursor: pointer;
}